//  VARS
$groundTileDim: 128px;

//CORE SASS
body{
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background: linear-gradient(#1c8dff, #85eaef);
}

//*******IDs***********

#ground{
  height: $groundTileDim;
  width:  100vw;
  background: url('imgs/groundTile.jpg') repeat-x;
  background-size: $groundTileDim;
  position: fixed;
  left: 0;
  bottom: 0;
}

#c1{
  animation-duration: 50s;
  height: 200px;
  width: 200px;
  top: 5vw;
}

#c2{
  animation-duration: 75s;
  height: 75px;
  width: 75px;
  top: 7vw;
}

#c3{
  animation-duration: 99s;
  height: 125px;
  width: 125px;
  top: 9vw;
}

#flower{
  height: 168px;
  width: 95px;
  background: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 128px;
  right: 300px;
  animation-name: chompingFlower, movingFlower;
  animation-duration: .5s, 3s;
  animation-iteration-count: infinite;
}

//**********CLASSES*******

.cloud{
  background: url('imgs/cloudTile.png') no-repeat;
  background-size: contain;
  position: fixed;
  left: 150px;
  animation-name: movingCloud;
  animation-iteration-count: infinite;
}

//*******ANIMATIONS***********

@keyframes movingCloud{
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(400px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes chompingFlower {
  0%{background-image: url('imgs/flower_1.png');}
  50%{background-image: url('imgs/flower_2.png');}
  100%{background-image: url('imgs/flower_1.png');}
}

@keyframes movingFlower{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-128px);
  }
  100%{
    transform: translateY(0px);
  }
}
